* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none; }

main {
  width: 100%;
  padding: 4vw;
  background: #efefef; }
  main section {
    width: 100%; }
    main section::after {
      content: '';
      display: block;
      clear: both; }
    main section .item-sizer {
      width: 12.5%;
      height: 0px;
      opacity: 0; }
    main section .item {
      float: left;
      width: 12.5%;
      height: 180px;
      padding: 5px;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
      transition: 0.5s; }
      main section .item:nth-of-type(2), main section .item:nth-of-type(4), main section .item:nth-of-type(6), main section .item:nth-of-type(11), main section .item:nth-of-type(14), main section .item:nth-of-type(15), main section .item:nth-of-type(17), main section .item:nth-of-type(18), main section .item:nth-of-type(19), main section .item:nth-of-type(21), main section .item:nth-of-type(22), main section .item:nth-of-type(23) {
        width: 25%; }
      main section .item:nth-of-type(4) {
        background: #c7c4c4;
        position: relative; }
        main section .item:nth-of-type(4) img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          filter: saturate(60%); }
        main section .item:nth-of-type(4) .inner {
          position: absolute;
          top: 0;
          left: 0; }
          main section .item:nth-of-type(4) .inner p {
            color: #fff;
            z-index: 3; }
      main section .item:nth-of-type(7), main section .item:nth-of-type(9), main section .item:nth-of-type(12) {
        background: #efefef;
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1); }
      main section .item:nth-of-type(8) .inner, main section .item:nth-of-type(11) .inner {
        background: #c7c4c4; }
      main section .item:nth-of-type(14) .inner {
        border-top: 2px solid #111;
        display: flex;
        justify-content: space-between; }
        main section .item:nth-of-type(14) .inner input {
          border: none;
          font: bold 13px/1 'arial';
          color: #111;
          width: 200px;
          height: 30px; }
        main section .item:nth-of-type(14) .inner a {
          color: #111;
          display: inline-block;
          text-align: right; }
      main section .item:nth-of-type(15) .inner {
        background: url(../img/img2.jpg) no-repeat center/cover;
        filter: saturate(70%); }
      main section .item:nth-of-type(16) {
        width: 50%;
        height: 360px;
        position: relative; }
        main section .item:nth-of-type(16) .inner {
          padding: 0; }
          main section .item:nth-of-type(16) .inner video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: grayscale(0.5); }
          main section .item:nth-of-type(16) .inner a {
            color: #fff;
            font-size: 40px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 3;
            transition: 0.5s; }
          main section .item:nth-of-type(16) .inner .txt {
            color: #fff;
            position: absolute;
            top: 50%;
            left: 10%;
            transform: translateY(-50%);
            z-index: 2; }
            main section .item:nth-of-type(16) .inner .txt p {
              font: bold 20px/1 'arial'; }
            main section .item:nth-of-type(16) .inner .txt span {
              font: 18px/1 'arial'; }
          main section .item:nth-of-type(16) .inner:hover a {
            font-size: 50px; }
      main section .item:nth-of-type(17) .inner {
        background: url(../img/img4.jpg) no-repeat center/cover; }
      main section .item:nth-of-type(18) .inner p, main section .item:nth-of-type(19) .inner p, main section .item:nth-of-type(23) .inner p {
        color: #b1b0b0; }
      main section .item:nth-of-type(18) .inner span, main section .item:nth-of-type(19) .inner span, main section .item:nth-of-type(23) .inner span {
        font: bold 16px/1.5 arial;
        border-bottom: 1px solid #bbb;
        color: #111; }
      main section .item:nth-of-type(20) {
        width: 50%;
        height: 360px;
        position: relative; }
        main section .item:nth-of-type(20) .inner p {
          margin-top: 100px;
          font: bold 23px/1.4 'arial';
          margin-bottom: 45px; }
        main section .item:nth-of-type(20) .inner::after {
          content: '18';
          width: 150px;
          height: 100px;
          color: #868686;
          font: bold 150px/100px 'arial';
          position: absolute;
          bottom: 3%;
          right: 20%;
          opacity: 0.9; }
        main section .item:nth-of-type(20) .inner a {
          display: block;
          width: 130px;
          height: 30px;
          border: 1px solid #111;
          border-radius: 10px;
          font: bold 13px/30px 'arial';
          color: #111;
          text-align: center; }
      main section .item:nth-of-type(21) .inner {
        background: url(../img/img5.jpg) no-repeat center/cover; }
      main section .item:nth-of-type(22) .inner {
        background: url(../img/img7.jpg) no-repeat center/cover; }
      main section .item .inner {
        width: 100%;
        height: 100%;
        padding: 30px; }
        main section .item .inner p {
          font: bold 16px/1.3 'arial';
          margin-bottom: 30px;
          letter-spacing: 1px; }
        main section .item .inner span {
          font: 14px/1 'arial'; }
      main section .item:hover {
        transform: scale(0.9); }

/*# sourceMappingURL=style.css.map */
