* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none; }

main {
  width: 100%;
  padding: 4vw;
  background: #d7dae3; }
  main #header {
    width: 100%;
    width: 100%;
    height: 100px;
    position: relative; }
    main #header .inner {
      margin: 0 auto;
      position: relative; }
      main #header .inner > h1 a {
        text-align: center;
        font: bold 28px/1 'arial';
        color: #464b56;
        display: block;
        margin-bottom: 40px; }
      main #header .inner .util {
        position: absolute;
        top: 50%;
        right: 0%;
        transform: translateY(-50%); }
        main #header .inner .util::after {
          content: '';
          display: block;
          clear: both; }
        main #header .inner .util li {
          display: inline-block; }
          main #header .inner .util li a {
            color: #1F2120;
            font: bold 15px/35px 'arial';
            background: #ffffffb6;
            border: 1px solid #ffffffb6;
            border-radius: 50px;
            display: block;
            width: 100px;
            height: 35px;
            text-align: center;
            transition: 0.3s; }
            main #header .inner .util li a i {
              margin-left: 10px; }
            main #header .inner .util li a:hover {
              transform: scale(0.9); }
      main #header .inner .btnCall {
        position: absolute;
        top: 50%;
        left: 30px;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        display: block;
        z-index: 11; }
        main #header .inner .btnCall::before {
          content: '';
          display: block;
          width: 100%;
          height: 2px;
          background: #000;
          position: absolute;
          top: 0;
          left: 0;
          transform: rotate(0deg);
          transition: top 0.5s 0s, transform 0.5s 0.5s; }
        main #header .inner .btnCall::after {
          content: '';
          display: block;
          width: 100%;
          height: 2px;
          background: #000;
          position: absolute;
          bottom: 0;
          left: 0;
          transform: rotate(0deg);
          transition: bottom 0.5s 0s, transform 0.5s 0.5s; }
        main #header .inner .btnCall span {
          display: block;
          width: 100%;
          height: 2px;
          background: #000;
          text-indent: -9999px;
          position: absolute;
          top: 50%;
          margin-top: -1px;
          left: 0;
          transition: 0.5s; }
        main #header .inner .btnCall.on::before {
          transform: rotate(45deg);
          top: 50%;
          margin-top: -1px; }
        main #header .inner .btnCall.on::after {
          transform: rotate(-45deg);
          bottom: 50%;
          margin-bottom: -1px; }
        main #header .inner .btnCall.on span {
          transform: translateX(100%);
          opacity: 0; }
      main #header .inner .menuMo {
        position: fixed;
        top: 0;
        left: -40%;
        width: 40%;
        height: 100vh;
        background: #aaaaaafb;
        transition: 0.5s;
        padding: 35px 30px;
        box-sizing: border-box;
        z-index: 10; }
        main #header .inner .menuMo > h1 {
          padding-bottom: 50px;
          padding-left: 20px;
          text-align: center; }
          main #header .inner .menuMo > h1 a {
            display: block;
            font: bold 24px/1 'Open Sans';
            color: #fff; }
        main #header .inner .menuMo #gnbMo {
          margin-top: 50px; }
          main #header .inner .menuMo #gnbMo li a {
            display: block;
            width: 100%;
            padding: 15px 0;
            font: bold 50px/1 'Open Sans';
            color: #727171;
            text-align: center; }
        main #header .inner .menuMo.on {
          left: 0; }
  main section {
    width: 100%; }
    main section::after {
      content: '';
      display: block;
      clear: both; }
    main section .item-sizer {
      width: 12.5%;
      height: 0px;
      opacity: 0; }
    main section .item {
      float: left;
      width: 12.5%;
      height: 180px;
      padding: 5px;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
      transition: 0.5s; }
      main section .item:nth-of-type(2), main section .item:nth-of-type(4), main section .item:nth-of-type(6), main section .item:nth-of-type(11), main section .item:nth-of-type(14), main section .item:nth-of-type(15), main section .item:nth-of-type(17), main section .item:nth-of-type(18), main section .item:nth-of-type(19), main section .item:nth-of-type(21), main section .item:nth-of-type(22), main section .item:nth-of-type(23) {
        width: 25%; }
      main section .item:nth-of-type(2), main section .item:nth-of-type(6), main section .item:nth-of-type(4), main section .item:nth-of-type(11), main section .item:nth-of-type(20) {
        background: #a5adb9;
        position: relative; }
        main section .item:nth-of-type(2) img, main section .item:nth-of-type(6) img, main section .item:nth-of-type(4) img, main section .item:nth-of-type(11) img, main section .item:nth-of-type(20) img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          filter: saturate(60%); }
        main section .item:nth-of-type(2) .inner, main section .item:nth-of-type(6) .inner, main section .item:nth-of-type(4) .inner, main section .item:nth-of-type(11) .inner, main section .item:nth-of-type(20) .inner {
          position: absolute;
          top: 0;
          left: 0; }
          main section .item:nth-of-type(2) .inner p, main section .item:nth-of-type(6) .inner p, main section .item:nth-of-type(4) .inner p, main section .item:nth-of-type(11) .inner p, main section .item:nth-of-type(20) .inner p {
            color: #fff;
            z-index: 3; }
      main section .item:nth-of-type(7), main section .item:nth-of-type(9), main section .item:nth-of-type(12) {
        background: #d7dae3;
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
        transform: scale(0.96); }
      main section .item:nth-of-type(8) .inner {
        background: #a5adb9; }
      main section .item:nth-of-type(13) .inner {
        background: #ffffffbe; }
      main section .item:nth-of-type(14) .inner {
        border-top: 2px solid #111;
        display: flex;
        justify-content: space-between; }
        main section .item:nth-of-type(14) .inner input {
          border: none;
          font: bold 13px/1 'arial';
          color: #111;
          width: 200px;
          height: 30px; }
        main section .item:nth-of-type(14) .inner a {
          color: #111;
          display: inline-block;
          text-align: right; }
      main section .item:nth-of-type(16) {
        width: 50%;
        height: 360px;
        position: relative; }
        main section .item:nth-of-type(16) a video {
          width: 100%;
          height: 100%;
          object-fit: cover; }
        main section .item:nth-of-type(16) a i {
          color: #fff;
          font-size: 40px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 2;
          transition: 0.5s; }
        main section .item:nth-of-type(16) a:hover i {
          font-size: 50px; }
        main section .item:nth-of-type(16) .inner .txt {
          color: #fff;
          position: absolute;
          top: 50%;
          left: 10%;
          transform: translateY(-50%);
          z-index: 3; }
          main section .item:nth-of-type(16) .inner .txt p {
            font: bold 20px/1 'arial'; }
          main section .item:nth-of-type(16) .inner .txt span {
            font: 18px/1 'arial'; }
      main section .item:nth-of-type(18) .inner p, main section .item:nth-of-type(19) .inner p, main section .item:nth-of-type(23) .inner p {
        color: #b1b0b0; }
      main section .item:nth-of-type(18) .inner span, main section .item:nth-of-type(19) .inner span, main section .item:nth-of-type(23) .inner span {
        font: bold 16px/1.5 arial;
        border-bottom: 1px solid #bbb;
        color: #111; }
      main section .item:nth-of-type(20) {
        width: 50%;
        height: 360px;
        position: relative; }
        main section .item:nth-of-type(20) .inner p {
          margin-top: 100px;
          font: bold 23px/1.4 'arial';
          margin-bottom: 45px; }
        main section .item:nth-of-type(20) .inner::after {
          content: '18';
          width: 150px;
          height: 100px;
          color: #fff;
          font: bold 150px/100px 'arial';
          position: absolute;
          bottom: 3%;
          right: 20%;
          opacity: 0.9; }
        main section .item:nth-of-type(20) .inner a {
          display: block;
          width: 130px;
          height: 30px;
          border: 1px solid #111;
          border-radius: 10px;
          font: bold 13px/30px 'arial';
          color: #111;
          text-align: center; }
      main section .item:nth-of-type(11), main section .item:nth-of-type(15), main section .item:nth-of-type(17), main section .item:nth-of-type(21), main section .item:nth-of-type(22) {
        background: #a5adb9;
        position: relative; }
        main section .item:nth-of-type(11) a img, main section .item:nth-of-type(15) a img, main section .item:nth-of-type(17) a img, main section .item:nth-of-type(21) a img, main section .item:nth-of-type(22) a img {
          position: relative;
          width: 100%;
          height: 100%;
          object-fit: cover;
          filter: saturate(60%); }
      main section .item .inner {
        width: 100%;
        height: 100%;
        padding: 30px; }
        main section .item .inner p {
          font: bold 16px/1.3 'arial';
          margin-bottom: 30px;
          letter-spacing: 1px; }
        main section .item .inner span {
          font: 14px/1 'arial'; }
      main section .item:hover {
        transform: scale(0.9); }
      main section .item a {
        z-index: 4; }

.pop {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  padding: 100px;
  z-index: 4; }
  .pop img {
    width: 100%;
    height: 100%;
    object-fit: contain; }
  .pop iframe {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .pop span {
    font: bold 14px/1 'arial';
    color: #fff;
    position: absolute;
    top: 55px;
    right: 100px;
    cursor: pointer; }

/*# sourceMappingURL=style.css.map */
