* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
ul, ol {
    list-style: none;
}
a {
    text-decoration: none;
}
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Open+Sans&family=Questrial&display=swap');
// font-family: 'Open Sans', sans-serif;
// font-family: 'Josefin Sans', sans-serif;
// font-family: 'Questrial', sans-serif;