@charset "utf-8";
@import "reset";

main{
    width: 100%; padding: 4vw;

    section{
        width: 100%; 
        &::after{
            content: ''; display: block; clear: both;
        }
        .item-sizer{
            width: 12%;
            height: 0px;
            opacity: 0;
        }
        .item{
            float: left;
            width: 12%; height: 150px;
            padding: 5px;
            &:nth-of-type(2),&:nth-of-type(4),&:nth-of-type(6),&:nth-of-type(11),&:nth-of-type(14),&:nth-of-type(15),&:nth-of-type(17),&:nth-of-type(18),&:nth-of-type(19),&:nth-of-type(21){
                width: 24%;
            }
    
            &:nth-of-type(4){.inner{background: #c7c4c4;}}
            &:nth-of-type(7){.inner{background: #efefef;}}
            &:nth-of-type(8){.inner{background: #c7c4c4;}}
            &:nth-of-type(9){.inner{background: #efefef;}}
            &:nth-of-type(11){.inner{background: #c7c4c4;}}
            &:nth-of-type(12){.inner{background: #efefef;}}
            &:nth-of-type(14){
                .inner{
                    border-top: 2px solid #111;
                    display: flex;
                    justify-content: space-between;
                    input {
                        border: none;
                        font: bold 13px/1 'arial';
                        color: #111;
                        width: 200px;
                        height: 30px;
                    }
                    a{
                        color: #111;
                        display: inline-block;
                        text-align: right;
                    }
                }
            }
            &:nth-of-type(16){width: 48%; height: 400px;}
            &:nth-of-type(20){width: 48%; height: 400px;}

            .inner{
                width: 100%; height: 100%;
                background: #fff; 
                padding: 30px;
    
                p{
                    font: bold 16px/1.3 'arial';
                    margin-bottom: 30px;
                    letter-spacing: 1px;
                }
                span{
                    font: 14px/1 'arial';
                }
            }
    
            
        }
    }
}